/* Reset some default styles */
body, h1, h2, h3, p, ul, li {
    margin: 0;
    padding: 0;

}

/* Basic styling */
body {
    font-family: Arial, sans-serif;
    background-color: #fff;
    color: #333;
}

header {
    background-color: #333;
    padding: 20px;
    text-align: center;
    color: #fff;
}

nav {
    background-color: #666;
}

nav ul {
    list-style-type: none;
    padding: 0;
    text-align: center;
}

nav ul li {
    display: inline-block;
    margin: 10px;
    
}

nav ul li a {
    text-decoration: none;
    color: #fff;
}

section {
    padding: 20px;
    margin: 20px;
    background-image: url("img\ bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
.highlight {
    font-weight:bolder;
    font-size: 17px;
    color: rgb(9, 9, 9);
    
  }
img{
    width:200px;
    height:200px;
    position: absolute;
    top: 150px;
    right: 0;
    transform: translate(-50%, 0); 
}


footer {
    background-color: #333;
    padding: 20px;
    text-align: center;
    color: #fff;
}

/* Media queries for responsiveness */
@media screen and (max-width: 600px) {
    header h1 {
        font-size: 24px;
    }

    nav ul li {
        display: block;
        margin: 10px
    }
}